/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Inria Sans", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250) 0%,
    rgb(225, 234, 238) 90%
  );
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 40px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5em;
  font-size: 24px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.25s;
}

nav ul li a:hover {
  color: black;
  background-color: #fff;
  border: 10px white solid;
  border-radius: 5px;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
